page-forget {
    .scroll-content {
        background-color: #B85230;
        // flex-direction: column;
        // overflow: hidden;
        // display: flex;
    }
    img {
        width: 50%;
        height: auto;
        margin: auto;
    }
    ion-row {
        align-items: center;
        text-align: center;
    }
    ion-item {
        border-radius: 20px !important;
        padding-left: 10px !important;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #f6f6f6;
        opacity: 0.7;
        font-size: 0.9em;
    }
    ion-list {
        margin: 0;
    }
    .login-button {
        width: 50%;
        border-radius: 30px;
        font-size: 0.9em;
        border: 1px solid #fff;
        background-color: rgb(156, 53, 18);
    }
    .labels {
        font-size: 1.2em;
        color: white;
    }
    ion-title {
        width: 80%;
        height: 100%;
        text-align: center;
    }
    .invalid {
        border-bottom: 5px solid rgb(255, 83, 91);
    }
    .errorlabels {
        border-radius: 10px !important;
        opacity: 0.7;
        font-size: 1.0em;
        font-weight: bold;
        background-color: red;
        color: white;
        border-color: white;
        border-style: solid;
        border-width: 0.3em;
    }
}