page-points {
    .scroll-content {
        background-color: #DC7633;
    }
    .labels2 {
        font-size: 2.0em;
        color: white;
        font-weight: bolder;
        align-items: center;
        text-align: center;
    }

    .labels {
        font-size: 1.5em;
        background-color: darkorange;
        color: white;
        font-weight: bolder;
        text-align: center;
    }

    
    .labels3 {
        font-size: 1.0em;
        color: black;
        font-weight: bolder;
        text-align: center;
    }
    .progress-outer {
        width: 96%;
        margin: 10px 2%;
        padding: 3px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }
    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: map-get($colors, primary);
    }
    ion-row{
        align-items: center;
        text-align: center;
    }
}