page-profile {
    .scroll-content {
        background-color: #DC7633;
    }
    ion-card{
        outline-color: black;
        outline-style: solid;
        outline-width: 0.3em;
        // background-color: #DC7633;
    }
}
