page-nearby {
    .scroll-content {
        background-color: #DC7633;
    }
    .labels2 {
        font-size: 2.0em;
        color: white;
        font-weight: bolder;
        align-items: center;
        text-align: center;
    }
}
